* {
  box-sizing: border-box;
}

:root {
  --color-principal-gris: #1e293b; /* Slate 800 */
  --color-fuente-principal-blanco: #f8fafc; /* Slate 50 */
  --color-naranja-logo: #f97316; /* Orange 500 */
  --color-azul-logo: #0ea5e9; /* Sky 500 */
}

body {
  background-color: var(--color-principal-gris);
  color: var(--color-fuente-principal-blanco);
}

header {
  background-color: var(--color-fuente-principal-blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.contenidoPrincipal {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    border: 1px dashed aquamarine;

    & .aside {
      width: 300px;
      height: 650px;
      border: 1px dashed orangered;
    }

    & .sectionDaw {
      display: flex;
      flex-flow: column;

      & h2 {font-size: 2rem; margin: 2rem;}
      
      & .contenedorCard {
        padding: 1rem 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
    }
}

hr {
  margin: 3rem 0;
  border-width: 2px;
  border-color: #f8fafc10;
}

footer {
  background-color: var(--color-fuente-principal-blanco);
  color: var(--color-principal-gris);
  min-height: 100px;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}