* {
  box-sizing: border-box;
}

body {
  background-color: #f2f4f4;
  color: #424949;
}

header {
  border-bottom: 1px solid #424949;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

section {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .separador {
    border: 2px solid #d1d5db;
    height: 200px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .titulo {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }
  }
}

footer {
  background-color: #424949;
  color: #f2f4f4;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Para markdown */
ol {
  margin-left: 1rem;
  & li {
    list-style: none outside none;
    margin-left: 2rem;
    padding: 0.5rem;
  }
}

.contenedorMd {
  width: 80%;
  margin: 1rem auto;
  font-size: 1.2rem;

  & h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }
  & h2 {
    font-size: 1.6rem;
    border-bottom: 3px solid black;
    display: inline-block;
  }
  & h3 { font-size: 1.3rem; 
    font-weight: 600;
    border-left: 8px solid hotpink;
    margin: 3rem 0 1rem 0; 
    padding: 0.6rem 0 0.6rem 1rem; /* arr de ab iz*/
  }
  & h4 {
    font-weight: bold;
    margin: 2rem 0 1rem 0;
  }

  & p { margin: 0.5rem 0; padding:0 1.5rem;}

  & strong { color: darkorange;}
  & img { 
    margin: 3rem auto;
  }
}

