---
import PlantillaPrincipal from "../layouts/PlantillaPrincipal.astro"
import EmpSectionDaw from "../components/EmpSectionDaw.astro"
import DiwSectionDaw from "../components/DiwSectionDaw.astro"
---
<PlantillaPrincipal titulopagina = "Inicio">
		<section class="container-academy">
			<div class="description">
				<h2>Este es el proyecto Academia</h2>
			</div>
			<div class="acceso-academy">
				<a href="#" class="btn-academy">Acceder a la academia</a>
			</div>
		</section>
		<DiwSectionDaw/>
		<hr>
		<EmpSectionDaw/>
</PlantillaPrincipal>
