---
import PlantillaPrincipal from "../layouts/PlantillaPrincipal.astro"
---
<PlantillaPrincipal titulopagina = "Inicio">
	<section class="container-academy">
		<div class="description">
			<h2>Academia</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ratione exercitationem recusandae alias, est eaque voluptates incidunt nisi officiis minus!</p>
		</div>
		<div class="acceso-academy">
			<a href="devAcademy/" class="btn-academy">Acceder a la academia</a>
		</div>
	</section>
</PlantillaPrincipal>
