---
import PlantillaPrincipal from "../layouts/PlantillaPrincipal.astro"
import Card from "../components/Card.astro"
---
<PlantillaPrincipal titulopagina = "devAcademy | by Juan A. L칩pez">
	<section>
		<Card titulo = "Html" descripcion = "Lorem ipsum dolor sit amet." tituloBoton = "M치s sobre Html.."/>
  		<div class="separador"></div>
  	<Card titulo = "Css" descripcion = "Lorem ipsum dolor sit amet." tituloBoton = "M치s sobre Css.."/>
	</section>
	<section>
		<Card titulo = "JavaScript" descripcion = "Lorem ipsum dolor sit amet." tituloBoton = "M치s sobre JavaScript.."/>
	</section>
</PlantillaPrincipal>