---
import PlantillaPrincipal from "../layouts/PlantillaPrincipal.astro"
import Card from "../components/Card.astro"
---
<PlantillaPrincipal titulopagina = "Inicio">
	<section>
		<Card 
			titulo = "DIW" 
			descripcion = "Asignatura - Diseño de interfaces web" 
			link = "/div"
			etiqueta = "Más sobre diseño.."
		/>
			<div class="separador"></div>
		<Card 
			titulo = "Empresa" 
			descripcion = "Asignatura - Empresa e Inciativa Emprendedora" 
			link = "/emp"
			etiqueta = "y sobre empresa.."
		/>
	</section>
	<section>
		<Card 
			titulo = "Html" 
			descripcion = "Lorem ipsum dolor sit amet." 
			link = "/html"
			etiqueta = "Ver más"
		/>
  		<div class="separador"></div>
  	<Card 
			titulo = "Css" 
			descripcion = "Lorem ipsum dolor sit amet." 
			link = "/css"
			etiqueta = "Ver más"
		/>
	</section>
	<section>
		<Card 
			titulo = "JavaScript" 
			descripcion = "Lorem ipsum dolor sit amet." 
			link = "/javascript"
			etiqueta = "Ver más"
		/>
	</section>
</PlantillaPrincipal>