---
import { getCollection } from "astro:content";
import PlantillaPrincipal from "../layouts/PlantillaPrincipal.astro";

const allPosts = await getCollection("prueba");
---

<PlantillaPrincipal titulopagina="Html">
  <h1>Prueba Collections</h1>
  <ul>
    {allPosts.map((post) => (
      <li>
        <a href={`./rutas/${post.slug}/`} title={post.data.titulo}>
          {post.data.titulo}
        </a>
      </li>
    ))}
  </ul>
</PlantillaPrincipal>


