---
export interface ButtonProps {
  href: string;
  label: string;
}

const {href, label } = Astro.props;
---

<a href={href} class="bg-slate-700 bg-opacity-30 text-slate-500 rounded-full p-1 w-48 text-center hover:text-slate-400">
  <button>
    <span>{label}</span>
  </button>
</a>