---
export interface ButtonProps {
  href: string;
  label: string;
}

const {href, label } = Astro.props;
---

<a href={href} >
  <button>
    <span>{label}</span>
  </button>
</a>

<style>
  button {
    background-color: var(--color-naranja-logo);
    color: var(--color-fuente-principal-blanco);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--color-azul-logo);
    }
  }
</style>