---
export interface ButtonProps {
  href: string;
  label: string;
}

const {href, label } = Astro.props;
---

<a href={href} >
  <button>
    <span>{label}</span>
  </button>
</a>

<style>
  button {
    background-color: rgb(51, 65, 85);
    color: rgb(100 116 139);
    border-radius: 9999px;
    border: none;
    padding: 0.25rem;
    width: 12rem;
    text-align: center;
  }

  button:hover {
    color: rgb(148 163 184)
  }
</style>