---
import BotonMas from "./BotonMas.astro";
export interface CardProps {
  titulo?: string;
  descripcion?: string;
  link?: string;
  etiqueta?: string;
}
const  { 
  titulo = "Título Card",
  descripcion = "Descripción Card",
  link = "Botón",
  etiqueta = "Ver más"
} = Astro.props;


---
<div id="html">
  <div class="titulo">{ titulo }</div>
  <div class="descripcion">{ descripcion }</div>
  <BotonMas href={link} label = { etiqueta }/>
</div>