---
import Card from "../components/CardSectionDaw.astro"
---
<section class="sectionDaw">
  <h2>Diseño de interfaces web</h2>
  <div class="contenedorCard">
    <Card
    titulo = "Planificación de interfaces gráficas"
    link = "/devAcademy/diw/diwUno"
    etiqueta = "Ver primer tema"
  />
  <Card
    titulo = "Uso de estilos"
    link = "/devAcademy/diw/diwDos"
    etiqueta = "Ver segundo tema"
  />
  <Card
    titulo = "Preparación e implementación de contenido multimedia"
    link = "/devAcademy/diw/diwTres"
    etiqueta = "Ver tercer tema"
  />
  <Card
    titulo = "Integración de contenido interactivo"
    link = "/devAcademy/diw/diwCuatro"
    etiqueta = "Ver cuarto tema"
  />
  <Card
    titulo = "Desarrollo de web accesibles"
    link = "/devAcademy/diw/diwCinco"
    etiqueta = "Ver quinto tema"
  />
  <Card
    titulo = "Desarrollo de webs amigables. Usabilidad"
    link = "/devAcademy/diw/diwSeis"
    etiqueta = "Ver sexto tema"
  />
  </div>
</section>
