---
import Card from "../components/CardSectionDaw.astro"
---
<section class="sectionDaw">
  <h2>Empresa e iniciativa emprendedora</h2>
  <div class="contenedorCard">
    <Card
    titulo = "Iniciativa emprendedora"
    link = "/devAcademy/empresa/empUno"
    etiqueta = "Ver primer tema"
    />
    <Card
    titulo = "La empresa y su entorno"
    link = "/devAcademy/empresa/empDos"
    etiqueta = "Ver segundo tema"
    />
    <Card
    titulo = "El plan de la empresa"
    link = "/devAcademy/empresa/empTres"
    etiqueta = "Ver tercer tema"
    />
    <Card
    titulo = "Creación y puesta en marcha de la empresa"
    link = "/devAcademy/empresa/empCuatro"
    etiqueta = "Ver cuarto tema"
    />
    <Card
    titulo = "Gestión empresarial"
    link = "/devAcademy/empresa/empCinco"
    etiqueta = "Ver quinto tema"
    />
  </div>
</section>