---

---
<header>
  <h1>
    <a href="/devAcademy">
      <span class="text-orange-500">dev</span><span class="text-sky-500">Academy</span>
    </a>
  </h1>
</header>

<style>
  h1 {
    font-weight: bold;
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
  }
  a {
    text-decoration: none;
  }
  .text-orange-500 {
    color: rgb(249 115 22);
  }
  .text-sky-500 {
    color: rgb(14 165 233);
  }
</style>