---
import BotonMas from "./BotonMas.astro";
---
<section class="iniciado">
  <div id="html">
    <div class="titulo">HTML</div>
    <div class="descripcion">Lorem ipsum dolor sit amet.</div>
    <BotonMas/>
  </div>
  <div class="separador"></div>
  <div id="css">
    <div class="titulo">Css</div>
    <div class="descripcion">Lorem ipsum dolor sit amet.</div>
    <BotonMas/>
  </div>
</section>