---
import PlantillaPrincipal from "./PlantillaPrincipal.astro";
import "../styles/markdown.css"
const { frontmatter } = Astro.props;
---
<PlantillaPrincipal titulopagina={frontmatter.titulo}>
  <div class="contenedorMd">
    <slot/>
  </div>
</PlantillaPrincipal>